namespace Inspire.Utilities.Utilities
{
    /// <summary>
    /// Svn version constants
    /// </summary>
    public class Version
    {
        public const string Major = "1";

        public const string Minor = "0";

        public const string Build = "14";

        public const string Revision = "$WCREV$";

        public const string Company = "Mapex";

        public const string Copyright = "Copyright© Mapex JSC 2020";
    }
}
