@using Inspire.Common.Mvc.Extensions
@using Inspire.Portal.App_GlobalResources
@using Inspire.Portal.Areas.Admin.Controllers
@{
    var controllerType = typeof(UserController);
    if (controllerType.HasRightsToAction("Upsert"))
    {
        <a href="@Url.DynamicAction("Upsert", controllerType)" title="@Resource.CreateUser">
            <svg class='icon'>
                <use xlink:href='#icon-plus'></use>
            </svg>
            @Resource.Create
        </a>
    }
}