<!DOCTYPE HTML>
<html lang="BG">
<head>
    <title>
НАЦИОНАЛЕН ПОРТАЛ ЗА ПРОСТРАНСТВЕНИ ДАННИ</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Author" content="MonitorStat" />
    <meta name="Keywords" content="" />
    <meta name="Description" content="" />
    <style>
        body {
            font: normal 16px/22px 'Verdana';
            margin: 35px;
        }
    </style>
</head>
<body>
    <p>Здравейте <strong>$$userFullName,</strong></p>
    <p>За да промените паролата Ви, моля последвайте следния линк:</p>
    <p>
        <strong>$$requestNewPasswordLink</strong>
    </p>
    <br />
    <p>Администратор</p>
    <p>НАЦИОНАЛЕН ПОРТАЛ ЗА ПРОСТРАНСТВЕНИ ДАННИ</p>
</body>
</html>