<script id="metadataIdentifierTemplate" type="text/x-kendo-template">
    <a href="@Url.Action("Metadata", "TransactionHistory")?identifier=#: MetadataHistoryId #">#: MetadataIdentifier #</a>
</script>
<script id="metadataTitleTemplate" type="text/x-kendo-template">
    <a href="@Url.Action("Metadata", "TransactionHistory")?identifier=#: MetadataHistoryId #">#: MetadataTitle #</a>
</script>