<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <nlog autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debug" xdt:Transform="Remove" xdt:Locator="Match(writeTo)" />
      <logger name="*" minlevel="Debug" writeTo="fileLog" xdt:Transform="SetAttributes" xdt:Locator="Match(writeTo)" />
    </rules>
  </nlog>
  <appSettings>
    <add key="TawkToSource" value="" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="LoginUserConnection"
         connectionString=""
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)">
    </customErrors>
  </system.web>
</configuration>