@using Inspire.Model.Group
@using Inspire.Utilities.Extensions
@using Kendo.Mvc.UI
@using Inspire.Common.Mvc.Helpers
@model System.Collections.Generic.List<Inspire.Model.Group.GroupTableModel>

@section Breadcrumbs{
    @{
        Html.RenderDynamicAction("Breadcrumbs", ViewContext.Controller.GetType());
    }
}
@if (Model.IsNotNullOrEmpty())
{
    <div class="organizations">
        @(Html.Kendo().ListView(Model ?? new List<GroupTableModel>())
                                                              .Name("Organizations")
                                                              .Pageable(p => p.Enabled(true))
                                                              .DataSource(d =>d.Custom().PageSize(6))
                                                              .ClientTemplateId("organizationClientTemplateId")
                                                              .TagName("div"))
    </div>
}


<script type="text/x-kendo-template" id="organizationClientTemplateId">
    <div class="org-div">
        <a href="@Url.Action("Info")?id=#: data.Id #">
            #if (data.Logo) {#
            <img src="#: kendo.format('data:image/gif;base64,{0}', data.Logo)#" />
            #}#

            <span>
                #: data.Name ? data.Name : '' #
            </span>
        </a>
    </div>
</script>